    .flex-container { 
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    text-align: center;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    flex-flow: column wrap;
    }
    
    div#header {
    background-color: #A05841;
    color: #D0B0A6;
    text-align: center;
    font-size: 30px;
    }

    h1 {
    font-weight: 100px;
    font-size: 60px;
    padding: 20px;
    text-shadow: 6px 6px 2px hsl(15, 42%, 34%);
    }

    div#main-body {
    color: #A05841;
    background-color: #123132;
    }

    #nav {
    color:#123132;
    text-decoration: none;
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
    }

    #nav a {
    display: inline-flex;
    color: #123132;
    padding: 8px 16px;
    text-decoration: none;
    
    }
    
    #nav a.active {
    background-color: #123132;
    color: #D0B0A6;
    }

    #nav a:hover:not(.active) {
    background-color:#123132;
    color: #D0B0A6;    
    }

    .names {
    display: inline-block;
    border-style: outset;
    border-color: #A05841;
    border-width: medium;
    height: 120px;
    width: 500px;
    margin: 50px;
    box-sizing: border-box;
    }

    .names a:hover {
    background-color: gray;
    color: green;

    }

    h2 {
    font-size: 40px;
    margin: 10px;
    }

    p {
    color: #D0B0A6;
    }

    #aloe-img {
    height: 100%;
    display: right;
    padding: 50px;
    }
    
    #plily-img {
    height: 100%;
    display: right;
    padding: 50px;
    }
    
    #soh-img {
    height: 100%;
    display: right;
    padding: 50px;
    }
        
    div#footer {
    text-align: center;
    background-color: #D0B0A6;
    color: #123132;
    font-size: 20px;
    }